<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About YourStore</h5>
        <p>Brief description of your business</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
